<div class="main-content">
    <div class="header">
        <div class="container-fluid">
            <!-- Body -->
            <div class="header-body">
                <div class="row align-items-end">
                    <div class="col">
                        <!-- Pretitle -->
                        <h6 class="header-pretitle">overview</h6>

                        <!-- Title -->
                        <h1 class="header-title">Resumo</h1>
                    </div>
                    <div class="col-auto">
                        <!-- Button -->
                        <a class="btn btn-outline-dark" href="/courses/new">
                            <i class="fas fa-filter text-muted"> </i> Filtros
                        </a>
                    </div>
                </div>
                <!-- / .row -->
            </div>
            <!-- / .header-body -->
        </div>
    </div>
    <!-- / .header -->
    <div class="row justify-content-center">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-lg-6 col-xl-3">
                    <div class="card shadow-lg">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <!-- Title -->
                                <div class="col-12">
                                    <h6 class="h7 card-title text-uppercase text-muted mb-2">
                                        Volume transacionado
                                    </h6>
                                </div>
                            </div>
                            <div class="row align-items-center">
                                <div class="col">
                                    <!-- Heading -->
                                    <span class="h2 mb-0">
                    R$25,263.40
                    <!-- Badge -->
                                    </span>
                                </div>
                                <div class="col-auto">
                                    <!-- Icon -->
                                    <span class="badge badge-pill badge-success width-fit">
                                      + 3.5% 
                                    </span>
                                    <i class="fas fa-dollar-sign text-muted"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 col-xl-3">
                    <div class="card shadow-lg">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <!-- Title -->
                                <div class="col-12">
                                    <h6 class="h7 card-title text-uppercase text-muted mb-2">
                                        Total Pago
                                    </h6>
                                </div>
                            </div>
                            <div class="row align-items-center">
                                <div class="col">
                                    <!-- Heading -->
                                    <span class="h2 mb-0">
                    R$20,607.40
                    <!-- Badge -->
                  </span>
                                </div>
                                <div class="col-auto">
                                    <!-- Icon -->
                                    <span class="badge badge-pill badge-danger width-full">
                                      - 2.3%
                                    </span>
                                    <i class="fas fa-dollar-sign text-muted"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 col-xl-3">
                    <div class="card shadow-lg">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <!-- Title -->
                                <div class="col-12">
                                    <h6 class="h7 card-title text-uppercase text-muted mb-2">
                                        Total em Aberto
                                    </h6>
                                </div>
                            </div>
                            <div class="row align-items-center">
                                <div class="col">
                                    <!-- Heading -->
                                    <span class="h2 mb-0">
                    R$1,164.00
                    <!-- Badge -->
                  </span>
                                </div>
                                <div class="col-auto">
                                    <!-- Icon -->
                                    <span class="badge badge-pill badge-warning width-full">
                                      + 1.1%
                                    </span>
                                    <i class="fas fa-dollar-sign text-muted"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 col-xl-3">
                    <div class="card shadow-lg">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <!-- Title -->
                                <div class="col-12">
                                    <h6 class="h7 card-title text-uppercase text-muted mb-2">
                                        Ticket médio
                                    </h6>
                                </div>
                            </div>
                            <div class="row align-items-center">
                                <div class="col">
                                    <!-- Heading -->
                                    <span class="h2 mb-0">
                    R$842.11
                    <!-- Badge -->
                  </span>
                                </div>
                                <div class="col-auto">
                                    <!-- Icon -->
                                    <span class="badge badge-pill badge-primary width-full">
                                      + 4.1%
                                    </span>
                                    <i class="fas fa-ticket-alt text-muted"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 col-xl-3">
                    <div class="card shadow-lg">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <!-- Title -->
                                <div class="col-12">
                                    <h6 class="h7 card-title text-uppercase text-muted mb-2">
                                        Vendas Realizadas
                                    </h6>
                                </div>
                            </div>
                            <div class="row align-items-center">
                                <div class="col">
                                    <!-- Heading -->
                                    <span class="h2 mb-0">
                    30
                    <!-- Badge -->
                  </span>
                                </div>
                                <div class="col-auto">
                                    <!-- Icon -->
                                    <i class="far fa-chart-bar text-muted"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 col-xl-3">
                    <div class="card shadow-lg">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <!-- Title -->
                                <div class="col-12">
                                    <h6 class="h7 card-title text-uppercase text-muted mb-2">
                                        Vendas Pagas
                                    </h6>
                                </div>
                            </div>
                            <div class="row align-items-center">
                                <div class="col">
                                    <!-- Heading -->
                                    <span class="h2 mb-0">
                    26
                    <!-- Badge -->
                  </span>
                                </div>
                                <div class="col-auto">
                                    <!-- Icon -->
                                    <i class="far fa-chart-bar text-muted"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 col-xl-3">
                    <div class="card shadow-lg">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <!-- Title -->
                                <div class="col-12">
                                    <h6 class="h7 card-title text-uppercase text-muted mb-2">
                                        Vendas em Atraso
                                    </h6>
                                </div>
                            </div>
                            <div class="row align-items-center">
                                <div class="col">
                                    <!-- Heading -->
                                    <span class="h2 mb-0">
                    0
                    <!-- Badge -->
                  </span>
                                </div>
                                <div class="col-auto">
                                    <!-- Icon -->
                                    <i class="far fa-chart-bar text-muted"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 col-xl-3">
                    <div class="card shadow-lg">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <!-- Title -->
                                <div class="col-12">
                                    <h6 class="h7 card-title text-uppercase text-muted mb-2">
                                        Vendas Canceladas
                                    </h6>
                                </div>
                            </div>
                            <div class="row align-items-center">
                                <div class="col">
                                    <!-- Heading -->
                                    <span class="h2 mb-0">
                    0
                    <!-- Badge -->
                  </span>
                                </div>
                                <div class="col-auto">
                                    <!-- Icon -->
                                    <i class="far fa-chart-bar text-muted"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 col-xl-3">
                    <div class="card shadow-lg">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <!-- Title -->
                                <div class="col-12">
                                    <h6 class="h7 card-title text-uppercase text-muted mb-2">
                                        Boletos Gerados
                                    </h6>
                                </div>
                            </div>
                            <div class="row align-items-center">
                                <div class="col">
                                    <!-- Heading -->
                                    <span class="h2 mb-0">
                    4
                    <!-- Badge -->
                  </span>
                                </div>
                                <div class="col-auto">
                                    <!-- Icon -->
                                    <i class="fas fa-money-bill-wave text-muted"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 col-xl-3">
                    <div class="card shadow-lg">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <!-- Title -->
                                <div class="col-12">
                                    <h6 class="h7 card-title text-uppercase text-muted mb-2">
                                        Boletos Pagos
                                    </h6>
                                </div>
                            </div>
                            <div class="row align-items-center">
                                <div class="col">
                                    <!-- Heading -->
                                    <span class="h2 mb-0">
                    0
                    <!-- Badge -->
                  </span>
                                </div>
                                <div class="col-auto">
                                    <!-- Icon -->
                                    <i class="fas fa-money-bill-wave text-muted"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 col-xl-3">
                    <div class="card shadow-lg">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <!-- Title -->
                                <div class="col-12">
                                    <h6 class="h7 card-title text-uppercase text-muted mb-2">
                                        Boletos a Receber
                                    </h6>
                                </div>
                            </div>
                            <div class="row align-items-center">
                                <div class="col">
                                    <!-- Heading -->
                                    <span class="h2 mb-0">
                    1
                    <!-- Badge -->
                  </span>
                                </div>
                                <div class="col-auto">
                                    <!-- Icon -->
                                    <i class="fas fa-money-bill-wave text-muted"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 col-xl-3">
                    <div class="card shadow-lg">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <!-- Title -->
                                <div class="col-12">
                                    <h6 class="h7 card-title text-uppercase text-muted mb-2">
                                        Boleto Taxa Conversão
                                    </h6>
                                </div>
                            </div>
                            <div class="row align-items-center">
                                <div class="col">
                                    <!-- Heading -->
                                    <span class="h2 mb-0">
                    0.00%
                    <!-- Badge -->
                  </span>
                                </div>
                                <div class="col-auto">
                                    <!-- Icon -->
                                    <i class="fas fa-money-bill-wave text-muted"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 col-xl-3">
                    <div class="card shadow-lg">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <!-- Title -->
                                <div class="col-12">
                                    <h6 class="h7 card-title text-uppercase text-muted mb-2">
                                        Cartão Processados
                                    </h6>
                                </div>
                            </div>
                            <div class="row align-items-center">
                                <div class="col">
                                    <!-- Heading -->
                                    <span class="h2 mb-0">
                    26
                    <!-- Badge -->
                  </span>
                                </div>
                                <div class="col-auto">
                                    <!-- Icon -->
                                    <i class="far fa-credit-card text-muted"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 col-xl-3">
                    <div class="card shadow-lg">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <!-- Title -->
                                <div class="col-12">
                                    <h6 class="h7 card-title text-uppercase text-muted mb-2">
                                        Cartão Pagos
                                    </h6>
                                </div>
                            </div>
                            <div class="row align-items-center">
                                <div class="col">
                                    <!-- Heading -->
                                    <span class="h2 mb-0">
                    26
                    <!-- Badge -->
                  </span>
                                </div>
                                <div class="col-auto">
                                    <!-- Icon -->
                                    <i class="far fa-credit-card text-muted"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 col-xl-3">
                    <div class="card shadow-lg">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <!-- Title -->
                                <div class="col-12">
                                    <h6 class="h7 card-title text-uppercase text-muted mb-2">
                                        Cartão Rejeitados
                                    </h6>
                                </div>
                            </div>
                            <div class="row align-items-center">
                                <div class="col">
                                    <!-- Heading -->
                                    <span class="h2 mb-0">
                    0
                    <!-- Badge -->
                  </span>
                                </div>
                                <div class="col-auto">
                                    <!-- Icon -->
                                    <i class="far fa-credit-card text-muted"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 col-xl-3">
                    <div class="card shadow-lg">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <!-- Title -->
                                <div class="col-12">
                                    <h6 class="h7 card-title text-uppercase text-muted mb-2">
                                        Cartão Taxa Conversão
                                    </h6>
                                </div>
                            </div>
                            <div class="row align-items-center">
                                <div class="col">
                                    <!-- Heading -->
                                    <span class="h2 mb-0">
                    100.00%
                    <!-- Badge -->
                  </span>
                                </div>
                                <div class="col-auto">
                                    <!-- Icon -->
                                    <i class="far fa-credit-card text-muted"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 col-xl-3">
                    <div class="card shadow-lg">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <!-- Title -->
                                <div class="col-12">
                                    <h6 class="h7 card-title text-uppercase text-muted mb-2">
                                        Acesso Cortesia
                                    </h6>
                                </div>
                            </div>
                            <div class="row align-items-center">
                                <div class="col">
                                    <!-- Heading -->
                                    <span class="h2 mb-0">
                    20
                    <!-- Badge -->
                  </span>
                                </div>
                                <div class="col-auto">
                                    <!-- Icon -->
                                    <i class="fas fa-exclamation-triangle text-muted"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 col-xl-3">
                    <div class="card shadow-lg">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <!-- Title -->
                                <div class="col-12">
                                    <h6 class="h7 card-title text-uppercase text-muted mb-2">
                                        Acesso Trial
                                    </h6>
                                </div>
                            </div>
                            <div class="row align-items-center">
                                <div class="col">
                                    <!-- Heading -->
                                    <span class="h2 mb-0">
                    0 / 0
                    <!-- Badge -->
                  </span>
                                </div>
                                <div class="col-auto">
                                    <!-- Icon -->
                                    <i class="fas fa-exclamation-triangle text-muted"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 col-xl-3">
                    <div class="card shadow-lg">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <!-- Title -->
                                <div class="col-12">
                                    <h6 class="h7 card-title text-uppercase text-muted mb-2">
                                        Vendas via Trial
                                    </h6>
                                </div>
                            </div>
                            <div class="row align-items-center">
                                <div class="col">
                                    <!-- Heading -->
                                    <span class="h2 mb-0">
                    0
                    <!-- Badge -->
                  </span>
                                </div>
                                <div class="col-auto">
                                    <!-- Icon -->
                                    <i class="fas fa-glass-cheers text-muted"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 col-xl-3">
                    <div class="card shadow-lg">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <!-- Title -->
                                <div class="col-12">
                                    <h6 class="h7 card-title text-uppercase text-muted mb-2">
                                        Conversão Trial
                                    </h6>
                                </div>
                            </div>
                            <div class="row align-items-center">
                                <div class="col">
                                    <!-- Heading -->
                                    <span class="h2 mb-0">
                    0.00%
                    <!-- Badge -->
                  </span>
                                </div>
                                <div class="col-auto">
                                    <!-- Icon -->
                                    <i class="fas fa-glass-cheers text-muted"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>